.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #d4d4d8; border-radius: 2px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #a1a1aa; }

:host-context(.dark) .custom-scrollbar::-webkit-scrollbar-thumb { background: #3f3f46; }
:host-context(.dark) .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #52525b; }
