<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

  <comp-input-field
    label="E-mail"
    controlName="email"
    type="email"
    placeholder="your@email.com"
    icon="email">
  </comp-input-field>

  <comp-input-field
    label="Password"
    controlName="password"
    type="password"
    placeholder="Your password"
    icon="lock">
  </comp-input-field>

  <div class="flex items-center justify-between mt-1 text-sm">
    <mat-checkbox color="primary" class="dark:text-secondary-300">Remember me</mat-checkbox>
    <a href="#" class="font-medium transition-colors text-primary-600 hover:text-primary-800 dark:text-primary-400 dark:hover:text-primary-300">
      Forgot password?
    </a>
  </div>

  <comp-primary-button
    type="submit"
    [isLoading]="isLoading"
    loadingText="Acessando...">
    Access
  </comp-primary-button>

</form>
