<div class="modal-overlay" [class.show]="isOpen" (click)="close()" [class.dark]="themeService.theme() === 'dark'">
  <div class="modal-container {{ size }}" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="close()">
        <span class="material-icons">close</span>
    </button>
    <div class="modal-body">
        <div class="modal-title">
            <ng-content select="[title]"></ng-content>
        </div>
        <div class="modal-subtitle">
            <ng-content select="[subtitle]"></ng-content>
        </div>
        <div class="modal-actions">
            <ng-content select="[actions]"></ng-content>
        </div>
    </div>
  </div>
</div>
