<div class="p-4 space-y-8">
  <section>
    <h2 class="mb-4 text-xl font-semibold">Configurações de Perfil</h2>
    <comp-profile-settings></comp-profile-settings>
  </section>

  <section>
    <h2 class="mb-4 text-xl font-semibold">Configurações de Segurança</h2>
    <comp-security-settings></comp-security-settings>
  </section>

  <section>
    <h2 class="mb-4 text-xl font-semibold">Configurações de Integração</h2>
    <comp-integration-settings></comp-integration-settings>
  </section>

  <section>
    <h2 class="mb-4 text-xl font-semibold">Configurações de Gerenciamento de Dados</h2>
    <comp-data-management-settings></comp-data-management-settings>
  </section>
</div>
