<div class="flex flex-col gap-1">
  @if (label) {
    <label class="ml-1 text-sm font-medium text-secondary-700 dark:text-secondary-300">{{ label }}</label>
  }

  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full custom-field-modern">
    <input matInput
           [formControl]="control"
           [placeholder]="placeholder"
           [type]="currentType">

    @if (icon && !isPassword) {
      <mat-icon matSuffix class="text-secondary-400">{{ icon }}</mat-icon>
    }

    @if (isPassword) {
      <mat-icon matSuffix (click)="togglePassword()" class="cursor-pointer text-secondary-400">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    }
  </mat-form-field>

  <comp-error-message [control]="control"></comp-error-message>
</div>
